@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Scope+One&display=swap');

h1 {
  font-family: raleway;
  font-weight: 700;
  font-size: 4.25rem;
}

h2 {
  font-family: 'Scope one display';
  font-weight: 500;
  font-size: 2rem
}

h3 {
  font-family: Raleway;
  font-size: 1.25rem;
  font-weight: 400;
}

button#resetBtn {
  font-size: 1.25rem;
}